html, 
body {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5 !important;  
  display: flex;
  align-items: center !important;    
}

.panel   {
  background-color: #fff;
}

.panel__left-title {
  font-size: 2rem;
  color: #bb3b0e;
}
.panel__left-title-logo {
  width: 40px;
  height: auto;
  padding-right: 5px;
}

.panel__left-body {
  padding: 30px 0px;  
}
.form-group label {  
  font-weight: 400;
  font-size: 0.9rem;
}
input::placeholder {
  font-weight: 400;
  font-size: 0.9rem;
}
.btn-primary {
  background-color: #ca5116 !important;
  border: #ff5500 !important;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
}

.panel__left-footer a {
  font-size: 0.9rem;
  font-weight: 300;
}
.panel__right {
  background-color: #ca5116;
}

.panel__right-title {
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.panel__left-img {
  position: absolute;
  bottom: 1.8rem;
}
.panel__left-img img {
  width: 50%;
  height: auto;
}